{:aliases
 {:default-options
  {:jvm-opts ["-Duser.language=en" "-Duser.country=US"]}

  :depstar {:replace-deps
            {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
            :ns-default hf.depstar
            :exec-args {}}
  :cider
  {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
   :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}

  :dev {:extra-paths ["test"]}
  :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]}}

 :deps
 {tlaplus/tlaplus {:local/root "jars/tla2tools.jar"}
  org.tcrawley/dynapath {:mvn/version "1.1.0"}
  org.clojure/java.classpath {:mvn/version "1.0.0"}
  babashka/process {:mvn/version "0.4.14"}}

 :paths ["src"]}
